<div class="parent-container">
  <div class="child-container">
    <h2 style="margin-top: 250px;">Hello, Welcome to <b>Eatr - Recipe Finder!!!
    </b></h2>
    <span class="desc" style="font-size: 18px;">Eatr is a Mashup Web Application which is built using <i> Foursquare & Edamam's Recipe Search API </i> . This application finds Recipes and Places that provides your chosen recipe.</span><br><br><br>
    <form>
      <div class="form-group" style="margin-top: 100px;">
        <label style="font-size: 18px;">Subscribe to our news letter:</label><br><br>
        <!--<div class="form-group col-lg-4 col-lg-offset-4">
          <input type="text" class="form-control" placeholder="name@example.com"/>
        </div>-->
        <div class="input-container" style="float: left; margin-left:34%">
          <i class="fa fa-envelope"></i>
          <input class="input-field" type="text" placeholder="name@example.com" style="width: 260px; margin-top:-8px" #recipe>
        </div>
        <br>
        <button class="btn btn primary col-lg-2 col-lg-offset-5 button">Submit</button>
      </div>
    </form>
  </div>
</div>
